body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: beige;
  main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  .card {
    background-color: white;
    max-width: 300px;
    margin: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    .image {
    width: 300px;
    padding: 2px;
    }
    .data{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0px;
      padding-top: 0px;
      font-size: small;
      .date {
        margin: 0px;
      }
      .length {
        margin: 0px;
      }
    }
    
    .title {
      font-size: 20px;
      margin-bottom: 0;
    }
    .youtuber {
      font-size: 16px;
      margin-top: 0px;
      color: gray;
    }
  
  }
}
}