body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: beige;
}
body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main .card {
  background-color: white;
  max-width: 300px;
  margin: 5px;
  padding: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
body main .card .image {
  width: 300px;
  padding: 2px;
}
body main .card .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  padding-top: 0px;
  font-size: small;
}
body main .card .data .date {
  margin: 0px;
}
body main .card .data .length {
  margin: 0px;
}
body main .card .title {
  font-size: 20px;
  margin-bottom: 0;
}
body main .card .youtuber {
  font-size: 16px;
  margin-top: 0px;
  color: gray;
}